<!DOCTYPE html>
<html ng-app="blip">
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link href='http://fonts.googleapis.com/css?family=Dosis:500' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='/stylesheets/style.css'>
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js?"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCLAW56jAzO71401mgdhSb3N9iFrfsHvsE&libraries=visualization&sensor=true_or_false"></script>
    <script src="javascripts/main.js"></script>
    

  </head>
  <body>
    <div class="page-header">
      <div class="left-menu pull-left">Profile</div>
      <div class="right-menu pull-right">Friends</div>
    </div>
 

    <!-- where the google map will display -->
    <div id="map" class="col-sm-12"></div>  

    <footer class="footer">
      <div class="container">
        <div class="col-md-3">chat</div>
        <div class="col-md-6 text-center">Blip!</div>
        <div class="col-md-3 text-right">friend-filter</div>
      </div>
    </footer>
    <!-- Preloader from PreLoadMe -->
    <script type="text/javascript">
      //<![CDATA[
        $(window).load(function() { // makes sure the whole site is loaded
          $('#status').fadeOut(); // will first fade out the loading animation
          $('#preloader').delay(350).fadeOut('slow'); // will fade out the white DIV that covers the website.
          $('body').delay(350).css({'overflow':'visible'});
        })
      //]]>
    </script>
  </body>
</html>
