<!DOCTYPE html>
<html ng-app="facebookLogin">
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link href='http://fonts.googleapis.com/css?family=Dosis:500' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.27/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js?"></script>
    <script src="javascripts/fb.js"></script>
  </head>
  <body>
    
    <div class="container" ng-controller="MainController">
        <a href="/auth/facebook">Login with Facebook</a>
    </div>


  </body>
</html>